## **1. Prime numbers**

In [ ]:
num=int(input("enter a number: "))
# Negative numbers, 0 and 1 are not primes
if num > 1:
    # Iterate from 2 to n // 2
    for i in range(2, (num//2)+1):

        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

enter a number: 25
25 is not a prime number

## **2.product of 2 random numbers**

In [ ]:
import random

num1=random.randint(1,10)
print(num1)
num2=random.randint(1,10)
print(num2)
product=num1*num2
user_product=int(input("enter the product:"))
if user_product==product:
  print("Correct")
else:
  print("incorrect")

9
2
enter the product:18
Correct

## **3. Squares of Even/odd numbers**

In [ ]:
for i in range(100,201):
  if i%2==0:
    print("the square of the even no",i,"is: ",i*i)
  else:
     print("the square of the odd no",i,"is: ",i*i)

the square of the even no 100 is:  10000
the square of the odd no 101 is:  10201
the square of the even no 102 is:  10404
the square of the odd no 103 is:  10609
the square of the even no 104 is:  10816
the square of the odd no 105 is:  11025
the square of the even no 106 is:  11236
the square of the odd no 107 is:  11449
the square of the even no 108 is:  11664
the square of the odd no 109 is:  11881
the square of the even no 110 is:  12100
the square of the odd no 111 is:  12321
the square of the even no 112 is:  12544
the square of the odd no 113 is:  12769
the square of the even no 114 is:  12996
the square of the odd no 115 is:  13225
the square of the even no 116 is:  13456
the square of the odd no 117 is:  13689
the square of the even no 118 is:  13924
the square of the odd no 119 is:  14161
the square of the even no 120 is:  14400
the square of the odd no 121 is:  14641
the square of the even no 122 is:  14884
the square of the odd no 123 is:  15129
the square of the even no 124 is:  15376
the square of the odd no 125 is:  15625
the square of the even no 126 is:  15876
the square of the odd no 127 is:  16129
the square of the even no 128 is:  16384
the square of the odd no 129 is:  16641
the square of the even no 130 is:  16900
the square of the odd no 131 is:  17161
the square of the even no 132 is:  17424
the square of the odd no 133 is:  17689
the square of the even no 134 is:  17956
the square of the odd no 135 is:  18225
the square of the even no 136 is:  18496
the square of the odd no 137 is:  18769
the square of the even no 138 is:  19044
the square of the odd no 139 is:  19321
the square of the even no 140 is:  19600
the square of the odd no 141 is:  19881
the square of the even no 142 is:  20164
the square of the odd no 143 is:  20449
the square of the even no 144 is:  20736
the square of the odd no 145 is:  21025
the square of the even no 146 is:  21316
the square of the odd no 147 is:  21609
the square of the even no 148 is:  21904
the square of the odd no 149 is:  22201
the square of the even no 150 is:  22500
the square of the odd no 151 is:  22801
the square of the even no 152 is:  23104
the square of the odd no 153 is:  23409
the square of the even no 154 is:  23716
the square of the odd no 155 is:  24025
the square of the even no 156 is:  24336
the square of the odd no 157 is:  24649
the square of the even no 158 is:  24964
the square of the odd no 159 is:  25281
the square of the even no 160 is:  25600
the square of the odd no 161 is:  25921
the square of the even no 162 is:  26244
the square of the odd no 163 is:  26569
the square of the even no 164 is:  26896
the square of the odd no 165 is:  27225
the square of the even no 166 is:  27556
the square of the odd no 167 is:  27889
the square of the even no 168 is:  28224
the square of the odd no 169 is:  28561
the square of the even no 170 is:  28900
the square of the odd no 171 is:  29241
the square of the even no 172 is:  29584
the square of the odd no 173 is:  29929
the square of the even no 174 is:  30276
the square of the odd no 175 is:  30625
the square of the even no 176 is:  30976
the square of the odd no 177 is:  31329
the square of the even no 178 is:  31684
the square of the odd no 179 is:  32041
the square of the even no 180 is:  32400
the square of the odd no 181 is:  32761
the square of the even no 182 is:  33124
the square of the odd no 183 is:  33489
the square of the even no 184 is:  33856
the square of the odd no 185 is:  34225
the square of the even no 186 is:  34596
the square of the odd no 187 is:  34969
the square of the even no 188 is:  35344
the square of the odd no 189 is:  35721
the square of the even no 190 is:  36100
the square of the odd no 191 is:  36481
the square of the even no 192 is:  36864
the square of the odd no 193 is:  37249
the square of the even no 194 is:  37636
the square of the odd no 195 is:  38025
the square of the even no 196 is:  38416
the square of the odd no 197 is:  38809
the square of the even no 198 is:  39204
the square of the odd no 199 is:  39601
the square of the even no 200 is:  40000

## **4.Word counter**

In [ ]:
def count_words(text):
    words = text.split()
    word_counts = {}

    for word in words:
        word = word.strip('.,!?;:')
        if word in word_counts:
            word_counts[word] += 1
        else:
            word_counts[word] = 1

    return word_counts

input_text = str(input("enter the text: "))
word_counts = count_words(input_text)
for word, count in word_counts.items():
    print(f"'{word}': {count}")

enter the text: the sun is good
'the': 1
'sun': 1
'is': 1
'good': 1

## **5.Check for Palindrome**

In [ ]:
import re
def isPalindrome(s):
  s=s.lower()
  s=re.sub(r'[^a-z0-9]', '', s)
  return s==s[::-1]
s=str(input("enter a string: "))
ans=isPalindrome(s)
if ans:
  print("yes")
else:
  print("no")

enter a string: malayalam
yes